
{% block content %}
<form action="/signup" method="POST">
<h1>SignUp Page</h1>
    <div class="row">
        <div class="col">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="col">
            <label for="password">Password</label>
            <input id="password" type="text" class="form-control" placeholder="Password"
                   name="password">
        </div>
    <button type="submit" class="btn btn-success">Signup</button>
        <a href="{{ url_for('routes_in_routes.get_email') }}">Back</a>
    </div>
</form>

{% endblock %}